*.o
*.pyc
AnnChainRealChandra/
ChainChandra0*
runGwMcmcOnCuda
save-commands.json
.latex/
*.json
*.out
*.fak
*.pi
*.fits
*.rmf
*.arf
*.chain
*.orig
Log
GwMcmcStructuresFunctionsAndKernels.cu
*.old
*.ps
*.eps
*.pdf
._Log
.Log*
