*.o
*.pyc
AnnChainRealChandra/
ChainChandra0*
runGwMcmcOnCuda
save-commands.json
.latex/
*.json
*.out
*.fak
*.pi
*.fits
*.rmf
*.arf
*.chain
*.orig
Log
GwMcmcStructuresFunctionsAndKernels.cu
*.old
*.ps
*.eps
*.pdf
._Log
.Log*
runSFH
._pm_Chandra_11_xy_Thread_2.dat
*.jpg
*.crdbl
*.log
